<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class='container'>
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home">Home</a>
            <a class="nav-item nav-link" routerLink="/documents">Docs</a>
            <li class="nav-item dropdown">
                <div ngbDropdown class="d-inline-block dropdown-links">
                    <button class="btn btn-outline-primary" id="proposalDropdown" ngbDropdownToggle>
                        Proposals
                    </button>
                    <div class="dropdown-menu" aria-labelledby="proposalDropdown">
                        <a class="dropdown-item" routerLink="/proposals">Proposals</a>
                        <a class="dropdown-item" routerLink="/proposals/new">New Proposal</a>
                    </div>
                </div>
            </li>
        </div>
    </div>
</nav>

<div class="app-body">
    <router-outlet></router-outlet>
</div>